@import "common/base/topic-post";

body.blog {
  background-image: unset;
  
  > .contents {
    min-height: 100vh;
    width: 100vw;
    max-width: 100%;
    padding: 9em 7em 4em;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
  }
  
  .controls {
    position: fixed;
    z-index: 2;
    bottom: 20px;
    display: flex;
    align-items: center;
    
    &.right {
      right: 20px;
      
      .btn {
        margin-left: 10px;
      }
    }
    
    &.left {
      left: 20px;
      
      .btn {
        margin-right: 10px;
      }
    }
    
    .btn {
      svg {
        height: 10px;
        width: 10px;
      }
    }
  }
  
  .article-list {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
    width: 80%;
    max-width: 900px;
    margin: 0;
    padding: 0;
    list-style: none;
    
    .article {
      width: 100%;
      margin-bottom: 70px;
      box-shadow: $item-shadow;
      border: 1px solid $primary-low;
      background-color: $secondary;
      border-radius: 4px;
      padding: 2em;
      box-sizing: border-box;
      display: block;
      
      .header {
        padding-bottom: 2em;
        margin-bottom: 2em;
        background-image: linear-gradient(180deg, transparent 99%, $tertiary 0);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        text-align: center;
        
        h1 {
          font-size: 2.5em;
        }
        
        .meta {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        
        .user-profile-details {
          margin-right: 10px;
        }
      }
      
      .body {
        @extend .cooked;
        
        pre code {
          overflow: auto;
          -moz-tab-size: 4;
          tab-size: 4;
          
          &.lang-markdown {
            white-space: pre-wrap;
          }
        }
      }
    }
  }
}