@import "common/base/topic-post";

body.blog {
  background-image: unset;
  
  > .contents {
    min-height: 100vh;
    width: 100%;
    max-width: 1400px;
    padding: 3.5em 5em 4em;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  }
   
  .controls {
    position: fixed;
    z-index: 2;
    bottom: 20px;
    display: flex;
    align-items: center;
    
    &.right {
      right: 20px;
      
      .btn {
        margin-left: 10px;
      }
    }
    
    &.left {
      left: 20px;
      
      .btn {
        margin-right: 10px;
      }
    }
    
    .btn {
      svg {
        height: 10px;
        width: 10px;
      }
    }
  }

  .post-feed {
    position: relative;
    display: grid;
    grid-gap: 4vmin;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20vmin 0 0 0;
  }
  
  @media (max-width: 1000px) {
    .post-feed {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media (max-width: 700px) {
    .post-feed {
      grid-template-columns: 1fr;
      grid-gap: 40px;
    }
  }
  
  .topic-list-item {
    position: relative;
    flex: 1 1 301px;
    display: flex;
    flex-direction: column;
    min-height: 220px;
    background-size: cover;
    border: 1px solid rgba(34,34,34,0.15);
    border-radius: 4px;
    padding: 20px;
    &:hover {
      box-shadow: 0 4px 14px rgba(0,0,0,.15%);
    }
  }
  
  .topic-image {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 3px;
    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
  }

  .topic-link {
    position: relative;
    display: block;
    padding: 0;
    color: #222;
    &:hover {
      text-decoration: none;
    }
  }
  
  .header {
    margin: 20px 0 0;
  }
  
  .title {
    font-size: 1.6rem;
    margin: 0 0 0.4em;
    transition: color 0.2s ease-in-out;
  }
  
  .topic-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  
  .excerpt {
    max-width: 56em;
    color: #60757e;
    p {
      margin-bottom: 1em;
      display: -webkit-box;
      overflow-y: hidden;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      word-break: break-word;
    }
  }
  
  .topic-meta {
    display: flex;
    align-items: center;
    padding: 0;
  }
  
  .topic-byline {
    display: flex;
    margin: 0 0 0 0;
    color: #60757e;
    padding-top: 10px;
    line-height: 1.2em;
    font-weight: 400;
    width: 100%;
    .author {
      width: auto;
    }
    .bull {
      display: inline-block;
      margin: 0 2px;
      opacity: 0.6;
      padding: 0 5px 0 5px;
      line-height: 1.9em;
    }
    .date {
      line-height: 1.9em;
      font-size: 13px;
      margin-top: 3px;  
    }
    span {
      margin: 0;
    }
  }
   
  @media (min-width: 1001px) {
    .post-card-large {
      grid-column: 1 / span 3;
      display: grid;
      grid-gap: 4vmin;
      grid-template-columns: 1fr 1fr 1fr;
      min-height: 280px;

      .title {
        margin-top: 0;
        font-size: 3.2rem;
      }

      .excerpt p {
        margin-bottom: 1.5em;
        font-size: 1.7rem;
        line-height: 1.55em;
        -webkit-line-clamp: 8;
      }

      .topic-details {
        justify-content: center;
      }

      .topic-image {
        position: relative;
        grid-column: 1 / span 2;
        margin-bottom: 0;
        min-height: 380px;
        img {
          position: absolute;
          width: 100%;
          height: 100%;
        }
      }
    }
    .post-card-large:not(.no-image) .header {
      margin-top: 0;
    }
  }
  .user-top img {
    margin-right: 6px;
  }
  @media (max-width: 500px) {
    .title {
      font-size: 1.9rem;
    }
    .excerpt {
      font-size: 1.6rem;
    }
  }
}

.subscribe {
  position: fixed;
  z-index: 2;
  bottom: 20px;
  display: flex;
  align-items: center;
  right: 12px;
  border-radius: 2px;
  background: #fdf8f5;
  padding: 4px;
  cursor: pointer;

  .subscribe-avatar {
    border-radius: 50%;
    vertical-align: sub;
  }
  .subscribe-label {
    float: right;
    padding: 10px 0 0 5px;
    font-size: 18px;
  }
}

.subscribe-modal {
  visibility: hidden;

  &.active {
    visibility: visible;
    z-index: 999;
    padding-top: 300px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    position: fixed;
    background-color: rgba(0,0,0,0.4);
  }

  .subscribe-modal-content {
    width: 300px;
    height: 200px;
    background: #fefefe;
    padding: 1px 14px 14px 14px;
    position: relative;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 10px;

    .subscribe-modal-close {
      float: right;
      font-size: 28px;
      font-weight: bold;
      &:hover,
      &:focus {
        text-decoration: none;
        cursor: pointer;
      }
    }
    .checkbox {
      float: right;
      height: 20px;
      width: 20px;
    }
    .subscribe-buttons {
      padding-top: 20px;
      border-top: 1px solid #e9e9e9;
    }
    .subscribe-checkbox {
      margin-bottom: 20px;
      margin-top: 20px;
    }
    .modal-header {
      height: 25%;
      border-bottom: 1px solid #e9e9e9;
    }
  }
}
